/*.contentStyled {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/

/*.counterStyled {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: min-content;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*    background-color: #2d2a2a;*/
/*    border: 2px solid rgba(49, 189, 54, 0.8);*/
/*}*/

/*.styledTable {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 40px;*/
/*    color: #43d4e8;*/
/*    width: 350px;*/
/*    height: 150px;*/
/*    background-color: #2d2a2a;*/
/*    border: 2px solid #43d4e8;*/
/*    border-radius: 10px;*/
/*}*/

.equalFive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 130px;
    background-color: #2d2a2a;
    border: 2px solid #43d4e8;
    border-radius: 10px;
    color: crimson;
}

/*Buttons*/

/*.styledBtn {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border: 2px dotted #43d4e8;*/
/*    !*width: 350px;*!*/
/*    !*height: min-content;*!*/
/*    !*padding: 20px 50px 20px 50px;*!*/
/*    border-radius: 10px;*/
/*    gap: 40px;*/
/*}*/

/*.incBtn {*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    color: #2d2a2a;*/
/*    font-size: 24px;*/
/*    background-color: #43d4e8;*/
/*    border: 2px solid #43d4e8;*/
/*    border-radius: 10px;*/
/*}*/

/*.incBtn:hover {*/
/*    background-color: #2d2a2a;*/
/*    color: #43d4e8;*/
/*}*/

/*.resBtn {*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    color: #2d2a2a;*/
/*    font-size: 24px;*/
/*    background-color: #43d4e8;*/
/*    border: 2px solid #43d4e8;*/
/*    border-radius: 10px;*/
/*}*/

/*.resBtn:hover {*/
/*    background-color: #2d2a2a;*/
/*    color: #43d4e8;*/
/*}*/

/*.btnDisabled {*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    background-color: #2d2a2a;*/
/*    color: #43d4e8;*/
/*    font-size: 24px;*/
/*    border: 2px solid #43d4e8;*/
/*    border-radius: 10px;*/
/*}*/