
.counterStyled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #43d4e8;
    row-gap: 15px;
}

.styledTable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #43d4e8;
    width: 350px;
    height: 120px;
    margin: 0;
    border: 2px solid #43d4e8;
    border-radius: 10px;
}

.maxValue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: rgba(204, 14, 14, 0.71);
    width: 350px;
    height: 150px;
    margin: 0;
    border: 2px solid #43d4e8;
    border-radius: 10px;
}

.errorValue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(204, 14, 14);
    width: 350px;
    height: 150px;
    margin: 0;
    border: 2px solid #43d4e8;
    border-radius: 10px;
}
.invalidValue {
    border: 1px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.11);
}

.insertValue {

    font-size: 40px;
    color: #43d4e8;
    width: 350px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #43d4e8;
    border-radius: 10px;
}



/*Table_value*/

.styledTableValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #43d4e8;
    width: 350px;
    height: 120px;
    margin: 0;
    border: 2px solid #43d4e8;
    border-radius: 10px;
}

.styledValue {
    display: flex;
    justify-content: space-around;
    font-size: 20px;

    input {
        text-align: center;
        font-size: 18px;
        /*border: 3px solid #43d4e8;*/
        border-radius: 5px;
    }
}